

.cart-page {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-table th,
  .cart-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-img {
    width: 80px;
    height: auto;
    border-radius: 8px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .quantity-control button {
    padding: 4px 8px;
    border: 1px solid #494949;
    background: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
  }
  
  .quantity-control input {
    width: 30px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 16px;
  }
  
  .cart-summary {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align: right;
  }
  
  .cart-summary p {
    margin: 8px 0;
  }
  
  .free-shipping-alert {
    margin: 15px 0;
    padding: 12px;
    border: 1px solid #ddd;
    background: #f4f8fb;
    color: #333;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .summary-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }
  
  
  .checkout,
  .clear {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  

  
  .checkout {
    background-color: #125B6B;
    color: white;
  }
  .checkout :hover {
    background-color: #9EBEC5;
    color: #125B6B;
  }
  
  .clear {
    background-color: #7c2019;
    color: white;
  }
  .clear :hover {
    background-color: #964f49;
    color: white;
  }
  