.info-section {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
padding-top: 8px;
padding-bottom: 12px;
padding-left: 20px;
padding-right: 30px;
  overflow: hidden;
}

.info-box:hover {
 background-color: #fff;
 border-radius: 8px;
 
}

.info-toggle {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  position: relative;
}

.info-toggle:hover,
.info-toggle:focus {
  color: #9EBEC5;
}

.info-icon {
  font-size: 30px;
  flex-shrink: 0;
}

.info-title {
  flex: 1;
  display: flex;
  align-items: center;
}
.info-content{
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 8px;
}

