.product-carousel {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 1150px;
}

.product-carousel h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.carousel-content {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
}

.arrow-button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-button:hover {
  background-color: #f4a740;

}

.product-track {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: center;
  flex: 1;
  padding: 0 20px;
  overflow: visible;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #f4a740;
  opacity: 0.5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}
.product-card.carousel-card {
  width: 230px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card.carousel-card .image-wrapper {
  height: 240px;
}

.product-card.carousel-card img {
  max-height: 100%;
  object-fit: contain;
}

.product-card.carousel-card .card-actions {
  margin-top: auto;
}
